[2014-07-08 07:46] ktavabi opened #6 "parameters rejection criteria"
@Eric89GXL it looks like mnefun.params hard codes the channel amplitudes rejection criteria in lines 108 - 109; correct?
What happens if there is no eeg in the data file? And why not allow for dictionaries for `p.reject` & `p.flat` as input arguments?

[2014-08-18 19:20] #6 closed, assigned to nobody

[2014-08-18 19:29] ktavabi opened #8 "Auto bad channels"
@Eric89GXL I've gone ahead with implementing a few lines of code that marks channels bad in the fif file if (i) no bad channel file is available & (ii) prior to computing ssp projectors from data in my development branch. Channels are marked bad if >15% trials are rejected based on rankings in the epochs drop log from MNE.  I was curious whether you all would be interested in adding it to mnefun,

[2014-08-19 05:42] #8 closed, assigned to nobody

[2014-08-19 05:57] ktavabi opened #10 "Argument for ECG surrogate channel"
@Eric89GXL I tried computing ECG SSP vectors on infant data without a defined ECG channel. I am not sure what the default routine in MNE-python is in this case; in any case the resulting cardiac events were not very accurate/sensible. I thought perhaps extending the `params` class object by an additional string argument e.g., `ecg_surrogate` that defaults to `None` can be used to allow users to pa

[2014-08-20 20:17] #10 closed, assigned to nobody

[2014-08-23 01:01] ktavabi opened #11 "BEM type parameter"
@Eric89GXL not sure if you want me to do this in my outstanding PR or create a new one. Currently the pipeline assumes three layered BEM with specific triangle density. I think we should implement a new `param` argument to allow users to specify other types of BEM e.g., `p.bem_type`, and modify `gen_forwards` to use other types of BEMs. WDYT?

[2014-08-26 20:18] Eric89GXL opened #13 "ENH: Add test set"
Could be the dataset from the rank paper. Should implement some pipeline tests. Not a high priority for now.

[2014-08-26 20:19] #11 closed, assigned to nobody

[2014-09-24 21:30] ktavabi opened #16 "params indexing broken"
@Eric89GXL `params.subject_indices` appears to be broken. I reproduced the problem on my end running `analysis_fun.py` with your example data and the program runs through all subjects by default irrespective of whether `params.subject_indices` is set to `np.arange(x)`, `[x]`, or `[ ]`; I expected the latter to cause an error. I am pretty sure I am running the latest version, can you confirm?

[2014-09-24 23:56] #16 closed, assigned to nobody

[2014-10-15 22:33] ktavabi opened #24 "Fetch & push split files"
@Eric89GXL is there any way to make _get_raw_names pick up split files?

[2014-10-20 18:17] larsoner opened #27 "FIX: Throw error if `subj_prebad.txt` does not exist"
This should save some users some pain when doing SSS.

Also, we should throw a better error if no `-trans.fif` is found, if we haven't fixed that yet. Basically need to add "Did you create the `-trans.fif` or `headpos.txt` file?" or whatever the appropriate text is to the `forward` calculation, preferably before it tries to do any real calculations.

[2014-11-15 00:13] #24 closed, assigned to nobody

[2014-11-15 00:17] ktavabi opened #33 "ENH: erm covariance based on channel types"
Add `picks=picks` argument to `compute_raw_data_covariance` in `_mnefun.gen_covariances`. Define variable `picks` as default to meeg channels or just meg channels. I need to test it will create PR.

[2014-11-20 00:51] #33 closed, assigned to nobody

[2014-12-04 02:07] ktavabi opened #36 "FIX: ERM MEG only SSP computation"
@Eric89GXL the reject criteria for erm projectors takes `np.inf` as the value for all channel types. This  causes an mne python error for rejections based on unavailable channel types e.g., eeg. We used the helper function `_channels_types(p, subj)` to get around this with EOG/ECG projectors and generating inverses. We need a similar solution for the erm projectors.

in both cases I am dropping `e

[2014-12-07 07:12] ktavabi opened #40 "ENH:notification"
@Eric89GXL WDYT of [this](https://gist.github.com/drewconway/916362#file-noticeemail-py) for mnefun? Default to false, otherwise if user specifies gmail credentials then program would send an email notification once finished, and preferably a error output if it fails.

[2014-12-08 23:44] JasperVanDenBosch opened #42 "How to specify params if no recoding of events required?"
If I am happy with my events, i.e. no need for combining them, how do I specify my params?

[code]

But this gives me:

[code]

PS my scoring function doesn't do anything special, it just reads and exports the events

[2014-12-28 02:42] #36 closed, assigned to nobody

[2014-12-28 02:44] larsoner opened #43 "ENH: Report"
@kambysese I noticed you use the mne-report functionality. It would be nice to add a `report=False` argument to the scripts, where if the user does `report=True` it makes a nice report html file and saves it in the subject's directory. WDYT? Do you have time to do it? If not, I can take a crack at it.

[2015-01-15 00:03] #40 closed, assigned to nobody

[2015-01-15 00:16] ktavabi opened #46 "Error in write_info"
@Eric89GXL after updating today to recent mne upstream/master `write_info` is throwing KeyErrors when trying to write the median head position file to disk. I thought this might be a data specific thing, but it's reproducible with the mnefun example dataset i.e., `push_raw=true` after renaming/deleting previous head position file. I am having a hard time pinpointing the issue. Can you test on your

[2015-01-15 01:49] #46 closed, assigned to nobody

[2015-01-21 23:04] drammock opened #50 "cannot find run_sss.sh"
in current master, if mnefun is installed using `setup.py install --user`, the `run_sss.sh` file is not copied to the `~/.local/lib/python2.7/site-packages/mnefun_whatever.egg` folder (where the analysis script looks for it).  This problem doesn't arise if `setup.py develop --user` is used.

[2015-01-22 00:23] #50 closed, assigned to drammock

[2015-01-22 17:34] drammock opened #52 "DOC: document the hidden +1"
`extract_expyfun_events` adds 1 to every event type when converting from binary stamp to decimal event ID, to prevent any event IDs from being zero.  This is not mentioned in the docs for `extract_expyfun_events`.

[2015-01-23 16:31] #52 closed, assigned to drammock

[2015-01-26 02:19] ktavabi opened #54 "FIX: EOG cals indexing"
@Eric89GXL  `_fix_raw_eog_cals` throws an IndexError @ ln 1110 if EOG channels are listed in bad channels file.

[2015-01-26 05:44] #43 closed, assigned to nobody

[2015-01-26 20:32] #54 closed, assigned to nobody

[2015-04-01 23:02] JasperVanDenBosch opened #61 "ENH: niprov integration"
Is there still interest in a niprov hook for mnefun? I'll gladly cook something up.

I think there are several ways of going about this, depending on how much of a dependency on niprov you're comfortable with. Here are some ideas/mockups, from high dependency to low; I have no major preference, maybe C) is the most elegant and flexible.

A) All the code for niprov calls goes in mnefun.

[code]

B)

[2015-04-13 20:43] #61 closed, assigned to nobody

[2015-04-17 22:50] ktavabi opened #64 "EEG ch reordering error"
@Eric89GXL what does `mnefun._reorder._is_file_unfixed(raw_file, anon), line 53 ValueError: need more than 2 values to unpack` mean? I am getting this error on a relatively newer acquired MEEG dataset. The error comes up during call to `do_ch_fix` in the script however explicit calls  e.g., `mnefun._reorder._is_file_unfixed('sss_raw.fif')` to the files in question return expected values.

[2015-04-30 23:25] #64 closed, assigned to nobody

[2015-04-30 23:27] ktavabi opened #66 "hp_cut"
@Eric89GXL is it possible to pass high-pass filter cut off via mnefun? If not perhaps I can open a PR

[2015-05-05 22:47] #27 closed, assigned to nobody

[2015-05-05 22:47] #42 closed, assigned to nobody

[2015-05-05 22:47] #66 closed, assigned to nobody

[2015-07-16 00:59] kambysese opened #72 "Import error after updates"
@Eric89GXL `_simulate.py` is causing an ImportError because it cannot find `_bem_find_surface` in `mne.surface`. The most recent copy of mne.surface does not have a `_bem_find_surface` function that I can see. Perhaps this is a naming error that needs to be updated in mnefun?

[2015-07-16 01:11] Eric89GXL commented on #72
Yeah I have that update locally but haven't pushed, will do tomorrow. Sorry
about that.

[2015-07-21 19:14] staulu opened #74 "AssertionError with missing *-1.fif file"
With command
simulate_movement.py --raw spi_11m_182_raw.fif --pos spi_182.pos --dipoles simulated_dipole_activations.txt --cov simple --out spi_11m_182_simu150717_raw.fif --plot
I get the following error:

-------------------------------------
Simulate raw data with head movements
-------------------------------------

Reading dipole definitions ....................... done (0.0 sec)
Loading head

[2015-07-21 19:18] staulu opened #75 "RuntimeError: Could not find any MEG or EEG channels"
With command
simulate_movement.py --raw spi_11m_182_raw.fif --pos spi_182.pos --dipoles simulated_dipole_activations.txt --cov simple --out spi_11m_182_simu150717_raw.fif --plot
I get the error of missing MEG channels:

-------------------------------------
Simulate raw data with head movements
-------------------------------------

Reading dipole definitions ....................... done (0.0 sec)

[2015-07-21 19:41] Eric89GXL commented on #75
Well that's a weird one... are those files up on a server where I could grab them to test locally?

[2015-07-22 00:51] staulu commented on #75
The raw data files are in folder kasga:/data05/naja/Monolinguals/spi_11m_182/ and the pos file is in kasga:/data04/maggie/data/SpeechProcessing/ForSamu/spi_182.pos

[2015-07-22 01:11] Eric89GXL commented on #75
Cool, I'll take a look at these bugs Monday. Hopefully then the simulator will actually work for you...

[2015-07-22 22:39] kambysese opened #76 "Additional remote sss options"
[code]
@Eric89GXL you okay with this approach for implementing user defined optional arguments for remote SSS?

[2015-07-23 00:33] #72 closed

[2015-07-23 13:49] Eric89GXL commented on #76
I think the user-defined arguments should just be an arbitrary string that gets appended to the call. There are too many options for us to triage them properly in Python and Bash. So something like `params.mf_args = ''` by default and you can do e.g. `params.mf_args = '-skip 200 360` if you want that functionality. Then we need to document somewhere the fixed options that we already use, which I t

[2015-07-25 01:12] #76 closed

[2015-07-30 00:37] #74 closed

[2015-07-30 00:37] #75 closed

[2015-08-13 23:04] kambysese opened #85 "ENH adding sensor space PLV function"
![image](https://cloud.githubusercontent.com/assets/4381290/9263676/ea2ce57a-41d3-11e5-90b2-c5d03ccffa96.png)

That is the result of a quick and dirty conversion of plv values across epochs courtesy of @rkmaddox into an evoked object, and plotted using `plot_topomap`. @Eric89GXL WDYT about adding this functionality to mnefun? And if you agree what are the recommendations about modifying the data i

[2015-08-13 23:25] Eric89GXL commented on #85
I think it's a little bit specific to be part of the standard analysis stream. However, it's generally useful enough that we should probably add it *somewhere*. Maybe we should have `mnefun.analyses`, where this could be `plot_sensor_space_plv` or something?

[2015-08-13 23:28] kambysese commented on #85
I agree.

[2015-08-13 23:29] Eric89GXL commented on #85
Is the `anova_time` function somewhere in `mnefun`? If so, we should also move it to `mnefun.analyses`.

[2015-08-13 23:32] kambysese commented on #85
I don't believe there is currently an `mnefun.analyses` so everything is under `mnefun`. And by `analyses` do you mean adding a `_analyses.py` file to the `mnefun` tree?

[2015-08-14 13:24] Eric89GXL commented on #85
I was thinking `_analyses.py` file, yeah. I guess we can import the function into the `mnefun` namespace like everything else.

[2015-09-09 22:36] kambysese opened #95 "Source space geometry"
@Eric89GXL re:error message concerning the source space patch/distance info, I was able to resolve the issue by changing the `oct` argument in `mne.setup_srouce_space` from 6 to 5 to match the subdividing in the corresponding BEM. My guess is that the mapping operation from 10240 to 5120 triangles in a source space is not feasible; does that make sense? Can you explain. Also if this solution makes

[2015-09-09 23:26] Eric89GXL commented on #95
Hmm, this really should succeed. Can you share the structural somewhere on soc? I wonder if there is a bug in mne-python that is causing this.

ico6 has 4098 vertices per hemisphere, ico5 is going to have quite a few less than that, so it would be better to get the 6 working. If we can't, I suppose we can make it a parameter.

[2015-09-10 06:53] kambysese commented on #95
I tried reproducing this with the example data but was unable.
You should know that this is infant data using a warped template MRI to create a minimal set of Freesurfer files, however `setup_source_space -oct 6 ` has worked in the past. I uploaded a subject's files onto soc share1/7-Brainteam/kam/Eric/kubi_td115

[2015-09-10 23:08] kambysese commented on #95
@Eric89GXL you're not going to believe this. I reproduced this error with 'AKCLEE_110_slim' by (a) deleting any pre-existing source space file (2) changing the kwarg `n_jobs` from 6 to 18 (b/c why not?) in `mnefun.params` (3) run analysis.py with `gen_fwd=True` (4) change `n_jobs` back to 6 and error goes away.
I didn't know what I was doing before, and I sure as hell don't know what I am doing no

[2015-09-11 02:20] Eric89GXL commented on #95
I should be able to try it out tomorrow. This does suggest it's some bug with `mne-python`, there shouldn't be any difference in behavior (other than speed potentially) based on `n_jobs`.

[2015-09-12 02:23] Eric89GXL commented on #95
Argh, didn't have time to do this today. Can it wait until late next week? Or is this preventing your analysis from proceeding?

[2015-09-12 02:46] kambysese commented on #95
Well it's not preventing anything. But I will be able to sleep better if (a) I know it's an actual bug, and (b) that I will not have to retract the results I am seeing now because the source spaces are some how corrupt.

There's been so much code tinkering for the infant data that it's beginning to be somewhat worrying I didn't stick to stable software versions. I should probably fall back to a vi

[2015-09-12 10:32] Eric89GXL commented on #95
Usually before publishing I'll re-run all the data analysis from scratch to make sure the results didn't change. I don't worry too much about mne-python because of how many regression tests it has. `mnefun` wasn't as rapidly developed / changed the last time I published, so I haven't worried too much about that. You can always reference a specific commit number if you need to, but I don't think yo

[2015-09-16 18:35] Eric89GXL commented on #95
Thanks for recreating with `analysis_fun` that made it much easier to check and debug.

Any created/saved source spaces should be fine. This error occurred when n_jobs didn't evenly divide the number of source points, see mne-python PR. Feel free to reopen if it doesn't fix your issue.

[2015-09-16 18:35] #95 closed

[2015-09-17 23:39] mdclarke opened #96 "Event list longer than expected"
@kambysese modify error message when event list from raw.fif is longer than nsamples in pca fif file causing epoching to fail.

[2015-09-22 20:18] mdclarke opened #97 "dimension mismatch error during epoching"
@Eric89GXL I'm using `mne0.9` + `mnefun` master along with up to date versions of Anaconda, Numpy, and Scipy. I am encountering:
ValueError: could not broadcast input array from shape (401,141) into shape (401,701)
when epoching data for @kambysese. I was able to reproduce this error with the example funloc data. Apparently this error is occurring exclusively on my machine as both Kam and Myles we

[2015-09-22 20:19] Eric89GXL commented on #97
Can you try latest `mne` master? A few bugs have been fixed since 0.9.

[2015-09-22 20:20] mdclarke commented on #97
Do you mean switching over to the development version of mne?

[2015-09-22 20:26] Eric89GXL commented on #97
Yeah, the latest `master` branch from here:

https://github.com/mne-tools/mne-python/

If you clone the repository to your machine, you can use `python setup.py develop` to install it, in which case whatever version you have checked out (`master`, `maint/0.9`, etc.) will be the currently active version on your machine, which is convenient.

[2015-09-22 20:43] mdclarke commented on #97
We didn't think it might be related to `mne` as both Kam and Myles are on different versions. Out of curiosity in the future if I am not working in the `git` framework can I just update `mne` running `pip install --upgrade mne`?

[2015-09-23 12:50] Eric89GXL commented on #97
You can upgrade that way, but it will only upgrade/do anything if a new version has been released. New versions are released every 6-12 months, so the upgrade schedule is slower than using `git`.

[2015-09-23 13:53] mdclarke commented on #97
Thanks Eric!

[2015-09-23 13:53] #97 closed

[2015-10-16 16:17] mdclarke opened #98 "head pos sanity check error"
Hi @Eric89GXL,
 I'm encountering the following error (for one subj) when pushing raw files and sss script to workstation with @kambysese's data.
* Head positions from quaternion file for this subj look relatively stable.

AssertionError:
Not equal to tolerance rtol=1e-05, atol=1e-05

(mismatch 100.0%)
 x: array([[-0.971479,  0.236196, -0.02098 ],
       [ 0.193013,  0.736257, -0.648592],
       [-

[2015-10-16 16:22] Eric89GXL commented on #98
Which line is that on again? (More of the traceback if you still have it)

[2015-10-16 16:27] mdclarke commented on #98
oops sorry, here's the full thing;

Traceback (most recent call last):
  File "/home/mdclarke/github/ilabs/bad_baby/am_tone_analysis.py", line 74, in <module>
    print_status=True
  File "/home/mdclarke/anaconda/lib/python2.7/site-packages/mnefun-0.1-py2.7.egg/mnefun/_mnefun.py", line 506, in do_processing
    outs[ii] = func(p, subjects, run_indices)
  File "/home/mdclarke/anaconda/lib/python2.7

[2015-10-16 16:45] Eric89GXL commented on #98
Can you see if #82 fixes it for you?

[2015-10-18 18:12] #98 closed

[2015-11-06 21:58] kambysese opened #101 "numpy missing attribute"
@Eric89GXL `calc_median_hp` is throwing an attribute error re: `trace` which appears to be a `numpy` rather than a `numpy.linalg` attribute. Can you confirm [this](https://docs.scipy.org/doc/numpy-1.10.1/reference/generated/numpy.trace.html) is not what you want. cc @mdclarke.

[2015-11-06 22:44] kambysese commented on #101
@Eric89GXL I am not sure what `trace` is doing but if checking to see if `m` is special-orthogonal i.e., rotaional then wouldn't we want to do:
(1) `assert_allclose(np.dot(m, m.T), np.eye(3), atol=1e-5)`
(2) `assert_allclose(np.linalg.det(m), 1., atol=1e-5)` #for the determinant

[2015-11-07 11:14] Eric89GXL commented on #101
I think I might have tried something similar and had problems, but maybe I
had a formula wrong. I agree yours is more complete so let's give it a
shot. The trace is just sum of diagonal which is a less complete check.

[2015-12-17 01:17] #101 closed

[2015-12-30 22:07] kambysese opened #105 "Rejection criteria"
@Eric89GXL can you explain what `_restrict_reject_flat` does exactly. It looks like rejection criteria cannot be `None` due to epoching and checking for DQs, correct?

[2015-12-30 22:13] kambysese opened #106 "Lp filtering"
@Eric89GXL the use case for no low pass filtering results in an error when naming the pca files. You mind if I open a PR to allow for `lp_cut=None`?

[2015-12-30 23:08] Eric89GXL commented on #106
Please do

[2015-12-31 19:13] Eric89GXL commented on #105
I think it's just supposed to make it so that only relevant channels are included in the reject/flat dicts before they get passed to mne-python, but I'll have to take a closer look. You should be able to set no thresholds if you want, though. What problem are you hitting, you want to do no rejection but can't?

[2015-12-31 21:17] kambysese commented on #105
Yes - I guess a more basic question is what is the DQ routine for? `_restrict_reject_flat` errors out when the rejection criteria are set to `None` and would presumably work to the same effect if thresholds are set excessively high.

[2016-01-01 01:52] Eric89GXL commented on #105
excessively high.

You mean it throws an error if you set the threshold to np.inf? It
shouldn't. It should also work fine (not reject) if you pass an empty dict.
Do those both fail?

[2016-02-01 22:52] kambysese opened #108 "Tranformation matrices identical"
@mdclarke Came upon this curious happening where `show_fiff` returns identical hp transfoms & position for the raw fif file:

and the median hp file:

We thought this might be isolated to the two infant datasets Maggie was working with, but it is also the case with files from the example dataset (above). Are we sure mne-python is actually changing the transform matrix in the file `info` structure?

[2016-02-01 23:02] Eric89GXL commented on #108
It's possible it does not, will check tomorrow

[2016-02-02 17:20] Eric89GXL commented on #108
There is only one run for the example subject. Currently `mnefun` uses the median of the *initial head positions of each run* as opposed to the median *across all time points of all runs*. So it makes sense that it finds the median of the initial head positions to be the same as the one existing initial head pos. This is something we could improve at some point, though, to use the median across ti

[2016-02-02 17:38] kambysese commented on #108
That is somewhat reassuring, I wasn't aware this was the case. Is it in the doc? This is obviously fine for adults but I suspect very problematic for children as movement away from from initial hp is the norm, DYT? is the median across time something that has to be done on the mne-python or mnefun end? I could give it a shot for the latter.

[2016-02-02 17:48] Eric89GXL commented on #108
Hmmm... we could presumably put it in mne-python at some point, but mnefun might be a better start. I have code for doing time-weighted average head position here:

https://github.com/LABSN/larsoner/blob/master/movement/movement.py#L297

We should also add some sanity checks to the position calculation stuff, I've written a function here:

https://github.com/LABSN/larsoner/blob/master/movement/mov

[2016-02-02 17:59] kambysese commented on #108
Are these links private? Both return 404 page not found

[2016-02-02 19:34] Eric89GXL commented on #108
Whoops, needed to add you as a collaborator. Should work now.

[2016-02-03 19:28] kambysese opened #111 "Issues on master"
@Eric89GXL I don't know what is happening on master but a lot of things seem to be broken e.g., how did [this](https://github.com/LABSN/mnefun/blob/master/mnefun/_mnefun.py#L597) get reverted? I thought this was fixed [here](https://github.com/kambysese/mnefun/blob/median-hp/mnefun/_mnefun.py) and merged #102?

[2016-02-03 19:47] Eric89GXL commented on #111
You can always look through the commit history to trace it:

https://github.com/LABSN/mnefun/commits/master

Working my way up from the merge that had the change, I found I did a bad rebase in one of my commits:

https://github.com/LABSN/mnefun/commit/202b1841cf23e5c60268219c534c27e969c9d543

But really you can get there sooner using the `blame` tab on GitHub while browsing the codebase:

https://

[2016-02-03 19:49] Eric89GXL commented on #111
Fixed:

https://github.com/LABSN/mnefun/commit/c154749ce44d923cc7b5357441e79fe095f87393

[2016-02-03 19:49] #111 closed

[2016-02-03 20:00] kambysese commented on #111
These are things you actually see on your github page(s) commit history and `blame`. This is the first I am hearing of them!

And speaking of rebasing I lost everything I did for the maxwell filtering bit trying to rebase.

This is all just too much for my feeble mind to follow. Thanks for the fix.

[2016-02-03 20:09] #106 closed

[2016-02-03 20:09] #105 closed

[2016-02-03 20:09] #85 closed

[2016-02-03 20:10] #108 closed

[2016-02-03 20:15] Eric89GXL commented on #111
There are creepy ways to get back what you did. I did a `reset --hard` followed by `push force` once on a branch I'd been working on for 2 weeks. Got it back with a few git commands. I can look for them if you want. But *don't delete the affected branch*.

[2016-02-03 20:20] kambysese commented on #111
Too late. I was dizzy yesterday trying to keep track of commits, changes and branches etc yesterday,  I thought deleting (my entire .git folder) was the only way to TRY and get back to some sort of starting position.

[2016-02-03 20:27] kambysese commented on #111
Just out of curiosity how would I find via one of the above routes the commit where I suspect you hard coded `params.tsss_dur=60.` and renamed the extra maxfilter argument(s) kwarg to `mf_args`? I could swear we discussed at some point giving the user the option to set tsss buffer length e.g., for infant data.

[2016-02-03 20:36] kambysese commented on #111
@Eric89GXL I am not going to PR anything for a while. Everything is at a stand still for me right now. You got a syntax error in the commit above at [ln 608](https://github.com/LABSN/mnefun/blob/master/mnefun/_mnefun.py#L608)

[2016-02-03 20:56] Eric89GXL commented on #111
I'd use `git blame` to find changes related to `tsss_dur`, if it exists in `master`. If it's not there, we'd have to look up the git commands to find it in any previous commit. I'm sure there's a way to do it...

Syntax error fixed, sorry about that.

[2016-02-08 18:53] kambysese opened #113 "EEG ECG rejection"
@Eric89GXL rejection criterion for ECG SSP is at 50e-6 micro volts on [EEG](https://github.com/LABSN/mnefun/blob/master/mnefun/_mnefun.py#L229) chs, this correct?

[2016-02-08 20:51] Eric89GXL commented on #113
Hmm... probably done to exclude any segments that have residual EOG blink or other artifacts in them, so that only "clean" (other than ECG artifacts) data get processed. So if not intentional, at least justifiable...

[2016-02-08 20:52] Eric89GXL commented on #113
But it looks like it probably wasn't that way before, so maybe we should make it 150 or something else. WDYT?

[2016-02-09 03:40] kambysese commented on #113
The justification is reasonable concerning ECG projections; I suspect @ 150 we may risk contaminating ECG epochs with blink artifacts but as long as the projectors are faithful to the ECG I am fine with 50. Closing.

[2016-02-09 03:40] #113 closed

[2016-02-22 09:21] ilogue opened #114 "How to cite mnefun? Add to Zenodo?"
How do you suggest writing a reference for mnefun? Is there a comprehensive list of authors (full names)?
Maybe you could use Zenodo to create a DOI for the project.

[2016-02-22 14:01] Eric89GXL commented on #114
So far I haven't felt it was necessary to cite it because it's mostly an organizational library, with all the heavy lifting algorithms implemented in mne-python. Would it suffice just to cite that?

[2016-05-03 23:56] Eric89GXL opened #124 "DOC: int_order and ext_order mixup"
From @staulu:

Whoever opens a PR next should fix this on the way.

[2016-05-04 06:14] kambysese commented on #124
It's just a mistake in the `docstring`. I'll get to it tomorrow. cc @staulu see [here](https://github.com/LABSN/mnefun/blob/master/mnefun/_mnefun.py#L353)

[2016-05-05 22:47] #124 closed

[2016-05-18 20:56] kambysese opened #127 "File fetching issue"
@Eric89GXL I encountered this yesterday  on Alexis' MBP

I don't have much time to debug this at the moment, I was hoping you might have a idea where the failure is, or why? I am not sure why the routine is lopping off the first letter of the directory name(s) i.e., `adim_aaron` to `dim_aaron`, when trying to do housekeeping after fetching files from remote.

[2016-05-18 21:32] Eric89GXL commented on #127
The easiest thing to do would be to use `import pdb; pdb.pm()` and traverse up `u` 3 (or 4?) levels so you can look at what's happening in `fetch_raw_files` with e.g. `p raw_dir`, `p fname`, and `p op.basename(fname)`

[2016-05-18 21:35] kambysese commented on #127
You mean debugging :smirk:

[2016-05-18 21:55] #114 closed

[2016-05-19 01:18] Eric89GXL commented on #127
Yeah, but the kind that won't take much time :)

[2016-05-24 23:48] kambysese commented on #127
@Eric89GXL What exactly is the reasoning for this [line](https://github.com/LABSN/mnefun/blob/master/mnefun/_mnefun.py#L603)? I don't understand why it mostly works and fails in this case by dropping one char from beginning of `fname`.

[2016-05-25 12:14] Eric89GXL commented on #127
I think it's to trim off the trailing `/` from the filename, there is probably a cleaner/safer way to do it. Probably in one it's entered as `'directory/'` and in the other (failing one) it's entered as `'directory'`

[2016-06-06 18:03] #127 closed

[2016-06-06 18:04] #13 closed

[2016-06-07 17:17] kambysese commented on #96
@mdclarke unless you've seen this occur again go ahead and close for now. Thanks.

[2016-07-05 11:21] jjnurminen opened #137 "chpi weighted averaging"
I guess you'd also want the cHPI weighted averager integrated into mnefun?

[2016-07-05 11:29] Eric89GXL commented on #137
Yeah sure

[2016-07-21 18:06] kambysese commented on #96
@mdclarke please close this. Unless you've encountered this, it seems to be a non-issue.

[2016-07-21 18:14] kambysese opened #138 "Down with OTP option"
@Eric89GXL how do you want to do this? Should `params.down_with_otp = False` be the switch for OTP inside the `do_sss` stage?

[2016-07-21 18:39] Eric89GXL commented on #138
Heh, that would be funny.

Probably `otp_duration = None` (i.e., don't use) by default, any non-`None` value should be used as the duration.

OTP should be done on raw data (without any bad channels marked yet), so we actually need to make a new folder like `otp_fif` and store the resulting files there, and then process those files with MaxFilter. FYI it takes a long time to process the files, too

[2016-08-08 16:46] #96 closed

[2016-08-08 21:13] ilogue opened #139 "save_epochs raises error if all events rejected"
https://github.com/LABSN/mnefun/blob/master/mnefun/_mnefun.py#L1353

[code]

This line in `save_epochs` causes an error;

`zero-size array to reduction operation maximum which has no identity`;

 if the `epochs.events` array is empty, e.g. when all epochs were rejected.

[2016-08-08 21:54] kambysese commented on #139
probably more useful if program exits with a warning if `epochs` has no data, WDYT @Eric89GXL

[2016-08-08 22:37] kambysese opened #140 "Projection vector "Average EEG reference""
@Eric89GXL fu on

I still get this warning when `pre_bad.txt` & `post-sss.txt` files are identical. On a related note, is it the expected behavior that channels in the `pre_bad` end up in the `post-sss` file, i.e., are the pre-bad channels not excluded from the outset of processing?

[2016-08-08 23:35] Eric89GXL commented on #139
Yeah that would be good

[2016-08-08 23:49] kambysese commented on #139
@ilogue you up to it? Or I can. Depends on how long you want to wait :)

[2016-08-09 00:36] Eric89GXL commented on #140
The pre-bad MEG channels should *not* be marked bad in the SSS'ed file. SSS should reconstruct them.

We must be adding the avg eeg ref at the wrong time. We probably shouldn't add it on read, but rather read, add bads to info, then add avg eeg ref.

[2016-08-09 00:53] kambysese commented on #140
We meaning mne-python or mnefun end? FYI I am hitting this on 2 of 29 datasets, so not sure if it's a corner case.
Not understanding this. Why should SSS reconstruct bad channels? I was under the impression tsss operation spread bad channel data across sensors. Are you also implying that it is a bad idea to put channels (i.e., noisy channels that cause numerous trial drops) in the prebad list?

[2016-08-09 00:59] Eric89GXL commented on #140
Any channels in `raw.info['bads']` when calling `maxwell_filter(raw, ...)` will simply be excluded during the multipole estimation step, but are easily reconstructed (and removed from `raw_sss.info['bads']`) from the multipole moments during the reconstruction step.

Yes, so you should mark any MEG channels that you know are pure noise or have jumpy artifacts in `raw_fif/subj_prebad.txt`. That is

[2016-08-09 00:59] Eric89GXL commented on #140
mnefun

[2016-08-09 01:09] ilogue commented on #139
I'll give it a go. So don't continue with other subjects, just exit gracefully?

[2016-08-09 01:20] kambysese commented on #139
Continuing with next subject is sensible, but I'm not sure that might be
more work than necessary. B/c at end of day params.subjects may need to
change to exclude subject.

--
Kambiz Tavabi

On August 8, 2016 at 6:09:39 PM, Jasper J.F. van den Bosch (
notifications@github.com) wrote:

[2016-08-09 18:41] kambysese commented on #140
I can't find where...

happens. Thought maybe [here](https://github.com/LABSN/mnefun/blob/master/mnefun/_mnefun.py#L1814), or there bouts, but I'm really not sure. Any ideas?

[2016-08-09 18:42] Eric89GXL commented on #140
The default behavior is to add on read

http://mne-tools.github.io/stable/generated/mne.io.read_raw_fif.html#mne.io.read_raw_fif

[2016-08-09 19:52] kambysese commented on #140
fixed by #141

[2016-08-09 19:52] #140 closed

[2016-08-15 13:28] #139 closed

[2016-08-22 17:57] kambysese opened #145 "TypeError during anonymize"
@Eric89GXL Unable to find a quick fix for this, when `None` is used to anonymize

`[tuple([int(dd) for dd in d]) for d in np.array(dates)[sinds]]` at ln 517 in `do_processing` returns

[2016-08-22 17:59] Eric89GXL commented on #145
What branch are you on?

https://github.com/LABSN/mnefun/blob/master/mnefun/_mnefun.py#L517

[2016-08-22 21:43] kambysese commented on #145
Nvmd :confounded:

[2016-08-22 21:43] #145 closed

[2016-08-31 10:01] jjnurminen commented on #137
That thing should eventually use ElektaAverager from mne, so I'll submit a PR after ElektaAverager has been merged.

[2016-10-13 21:09] kambysese opened #147 "Version conflict"
Deprecation in mnepy 0.13 raising

[2016-10-14 18:21] kambysese opened #148 "Acquisition directories"
Provide list of acq directories to `fetch_raw` func.

[2016-10-16 03:07] #147 closed

[2016-10-17 22:30] kambysese commented on #137
Hi Jussi cc @jjnurminen I am trying to figure out how to use the [chpi weighted averaging](https://github.com/BioMag/meg_scripts/blob/master/python/chpi_weighted_average.py) with the hopes of helping to integrate the averager into mnefun. Some questions for you and @Eric89GXL:

1. What is fundamentally different between [elekta_avg](https://github.com/BioMag/meg_scripts/blob/master/python/elekta_a

[2016-10-17 22:52] kambysese commented on #138
Closing for now. Will revisit if anyone actually plans to use.

[2016-10-17 22:52] #138 closed

[2016-10-18 07:43] jjnurminen commented on #137
Hi @kambysese
my plan is to integrate the weighted averager into mnefun. I'll try to work on it asap.

1. AcqParserFIF is more complete. elekta_avg is an early version of AcqParserFIF and does not support all DACQ features. I'm going to rewrite the weighted averager to use AcqParserFIF instead.
2. Yep, and elekta_avg (or rather AcqParserFIF)
3. I'm not familiar with Expyfun, but I think it should

[2016-10-18 11:01] jjnurminen commented on #137
@kambysese there is now an updated version in https://github.com/BioMag/meg_scripts that uses AcqParserFIF. Some other enhancements as well (e.g. epoch rejection).
Integration into mnefun coming a bit later...

[2016-10-20 21:01] #148 closed

[2016-10-21 22:21] kambysese commented on #137
@jjnurminen as per @staulu I am trying to run  `chpi_weighted_average` on a phantom dataset. Firstly, as `python chpi_weighted_average.py chpi_snr_test_raw_tsss_mc.fif` fails with a [`ValueError`](https://github.com/BioMag/meg_scripts/issues/2). After some tinkering I managed to produce chpi weighted averages with:

[code]

![image](https://cloud.githubusercontent.com/assets/4381290/19613414/41d51

[2016-10-22 09:10] jjnurminen commented on #137
@kambysese

a) Looks ok as far as I can tell :)

b) I'm wondering whether the reference data (yellow) was averaged with artifact rejection on? There might be some epochs with low-frequency artifact and the difference might come from the fact that rejection is turned off for the weighted averages.

c) The ValueError bug should be fixed now - the code didn't check for the case that there are no even

[2016-10-24 22:14] kambysese commented on #137
No, the yellow ERF was computed as:
[code]

That said, I am pretty confused about how the phantom triggers are organized, so there might be some discrepancy between how `ap.get_condition(raw_sss, ap['Dipole 7'], stim_channel='STI201')`
and `mne.find_events(raw_sss, stim_channel='STI201', consecutive = True, min_duration = 0.002, mask = 32 )` actually work.

[2016-10-25 13:21] Eric89GXL commented on #137
It looks like `get_condition` will only return those from Dipole 7, whereas yours will get all 32 dipoles. So if you restrict your events to those with ID 7 like `events = events[events[:, 2] == 7]` then I imagine they'd be equivalent. But you can verify it with `assert np.array_equal(ap_events, fe_events)`

[2016-10-28 21:11] mfreilly opened #153 "Error on extract_expyfun_events"
**\* ValueError: No stim channel found to extract event triggers.
Cause : Data Acquisition Setup has less than 9 STI channels enabled

[2016-10-28 23:24] Eric89GXL commented on #153
Ahh, I take it that this was in a setup that didn't have STI001-STI008 recorded?

[2016-10-28 23:55] mfreilly commented on #153
Bingo, mine. Learned a lot about expyfun and mnefun though.

Sent from my iPhone

[2016-11-04 12:10] jjnurminen commented on #137
`get_condition` returns whatever condition you give it.
However, iterating over `ap.categories` will only return categories that were marked active in the data acquisition. If you want to see all categories, check out `ap._categories`

Integration into mnefun coming in #154

[2016-11-04 12:15] jjnurminen commented on #137
IIRC your phantom data has all 32 averaging categories active, but there are actual events only for category 7. I think this happens if you load the phantom averaging settings into DACQ, but only activate one dipole.

[2016-11-07 21:45] mfreilly commented on #153
This is still an issue. The setup has has STI1 through STI8 enabled. Also
enabled STI101, STI201, STI301.

In expyfun script

 ttl_dict = dict(std[0,0,0],
                                 dev1[0,0,1],
                                 dev2[0,1,0],
                                 dev3[0,1,1],
         dev4[1,0,0],
                                 dev5[1,0,1],
                                 dev6[1

[2016-11-08 14:18] Eric89GXL commented on #153
This is a different error. Before you had an error in scoring, this is an error at the epochs stage.

Set `params.on_missing = 'warning'` or `params.on_missing = 'ignore'` and you should be okay. You're hitting the default `params.on_missing = 'error'` currently. I assume you're in `mnefun` at least, I can't tell for sure from only the last line of the traceback...

[2016-11-08 20:18] mfreilly commented on #153
Yes mnefun. Thanks, all good now. I'll document all this as 'From expyfun to mnefun' on the Wiki and LP

[2016-11-08 20:18] #153 closed

[2016-11-10 20:36] mdclarke opened #157 "AttributeError: 'NoneType' object has no attribute 'keys' for restrist_reject_flat"
@Eric89GXL

Hi Eric,

I'm getting an attribute error when trying to generate ssps in mnefun.
Tried passing None, dict(grad=1e-13, mag=1e-15), and dict() for params.flat

Traceback (most recent call last):
  File "/storage/Maggie/sasi/sasi_mnefun.py", line 112, in <module>
    print_status=True
  File "/home/mdclarke/github/mnefun/mnefun/_mnefun.py", line 593, in do_processing
    outs[ii] = func(p

[2016-11-10 21:57] Eric89GXL commented on #157
Can you reproduce this with the example file? What line needs to change/add?

[2016-11-14 15:50] mdclarke commented on #157
Yes same error when I use the sample audvis data

SSP projectors applied...
Traceback (most recent call last):
  File "/home/mdclarke/Desktop/sasi_mnefun.py", line 105, in <module>
    print_status=True
  File "/home/mdclarke/anaconda2/lib/python2.7/site-packages/mnefun-0.1-py2.7.egg/mnefun/_mnefun.py", line 593, in do_processing
    outs[ii] = func(p, subjects, run_indices)
  File "/home/mdclarke

[2016-11-14 16:02] Eric89GXL commented on #157
I mean the example script:

https://github.com/LABSN/mnefun/blob/master/examples/funloc/analysis_fun.py

What line needs to be changed/added to replicate the failure?

[2016-11-14 16:38] mdclarke commented on #157
I can reproduce error with analysis_fun.py if I add
params.reject=None
params.flat=None

[2016-11-14 16:44] mdclarke commented on #157
It seems to work if I pass dict() for both reject and flat

[2016-11-14 20:12] Eric89GXL commented on #157
I guess we could support passing `None` as an alias for `dict()`. Feel free to submit a PR for `mnefun` if you think it's worth having

[2016-11-14 21:14] mdclarke commented on #157
Thanks Eric

[2016-11-14 21:14] #157 closed

[2016-11-17 00:31] kambysese opened #158 "List input to Raw causes AttributeError"
`plot_raw_psd` line 2237 causes AttributeError b/c `fname` arg to `Raw` is a list instead of filename `str`. @Eric89GXL I will fix in PR.

[2016-11-17 02:02] Eric89GXL commented on #158
It should probably be refactored to use `_raw_LRFCP` or whatever it's called

[2016-11-18 00:01] kambysese opened #162 "gitignore funloc dir"
@Eric89GXL what is the reasoning behind (git)ignoring the funloc dir when we can just ignore `examples/funloc/subj*`?

[2016-11-18 00:20] Eric89GXL commented on #162
No real reason, either would probably work. Either way the repo has files
in ignored directories that will require git add -f

[2016-11-18 20:06] #158 closed

[2016-11-18 20:06] #162 closed

[2017-02-07 03:08] kambysese opened #166 "Print status fail"
`print_status = True` fails to return complete status when MEG free orientation inverse files are created using spherical HM.

[2017-04-05 17:55] kambysese opened #169 "Error reading post pca raw"
@Eric89GXL
Trace from TypeError related to opening `allclean_fil55_raw_sss.fif` file

[2017-04-05 17:55] Eric89GXL commented on #169
You can't even read the file? Did it die while writing (e.g., ran out of disk space)?

[2017-04-05 17:58] kambysese commented on #169
Died trying to read .../examples/funloc/subj_01/sss_pca_fif/subj_01_funloc_allclean_fil55_raw_sss.fif during epoching stage.

[2017-04-05 17:59] Eric89GXL commented on #169
what is the size of the file? did you run out of disk space?

[2017-04-05 18:14] kambysese commented on #169
The data is written (512MB for funloc example data, 1.6 GB for my own data) it's not a space issue.
[code]

Gives same error. I can open and view files in mne_browse_raw.

[2017-04-05 18:15] Eric89GXL commented on #169
That's really strange, because MNE wrote that file. Could you upload it to kasga so I can look?

[2017-04-05 18:22] kambysese commented on #169
Placed projection and raw files for funloc subj_01 on KASGA at `data07/kam/for_eric/sss_pca_fif`

[2017-04-05 20:33] Eric89GXL commented on #169
Closing as upstream bug

[2017-04-05 20:33] #169 closed

[2017-05-31 17:59] kambysese opened #173 "Neuromag cal files"
@Eric89GXL you ok with allowing `params.cal_file` & `params.ct_file` args for user defined neuromag site files?

[2017-05-31 18:25] Eric89GXL commented on #173
yeah that's fine

[2017-06-01 18:45] #173 closed

[2017-06-01 22:43] kambysese opened #177 "Write out data ndarrays"
@Eric89GXL WDYT about some sort of convenience function to write out compressed numpy ndarrays containing descriptive time/freq windowed data e.g., area under curve with shape obs x channels x time?

[2017-06-01 22:55] Eric89GXL commented on #177
You can use h5io for such custom things

[2017-06-01 23:03] kambysese commented on #177
what's the advantage over .npz?

[2017-06-02 13:43] Eric89GXL commented on #177
If you want to write out list / dict / tuple / str and get those same types back `h5io` is better, if you want to store just numpy arrays `npz` is better

[2017-06-02 23:01] kambysese commented on #177
For now I mostly use numpy ndarrays for containing/handling dependent measures; along the lines of the statistical analysis script example you gave me some time back. For wrangling data I've been messing around with pandas over dicts. So I think as a first pass I'll do `npz` and see if other use cases arise.

[2017-07-11 01:03] kambysese opened #178 "More informative error message"
Change assertion error message at [ln 651](https://github.com/LABSN/mnefun/blob/master/mnefun/_mnefun.py#L651).

[2017-07-11 13:29] Eric89GXL commented on #178
Can you give a traceback?

[2017-07-12 06:12] kambysese commented on #178
More of a note to self to create PR. It's a bit I did in the past; if e.g., no remote files are found during the fetching an assertion error is raised bc `remote_fnames` is empty.

[2017-08-30 19:25] kambysese opened #179 "PCA procedure"
@larsoner I noticed that even when all `params.proj_nums` are set to `[0, 0, 0]` it looks like `do_preprocessing_combined` still computes PCA. Is that normal/expected behavior?

[2017-08-30 20:31] larsoner commented on #179
That sounds like a bug, do you have time to look into it?

[2017-08-30 20:34] kambysese commented on #179
Sorry, not really at present. Just returning from vacation and not sure where to start.

[2017-08-31 19:30] #179 closed

[2017-09-06 19:10] #178 closed

[2017-09-08 00:47] kambysese opened #182 "Autoreject integration"
@larsoner I am thinking about integrating autoreject procedures into MNEFUN as soon as I understand what it's capable of and if it's worth doing. Here is what I am thinking:

1. one option is using `autoreject.get_rejection_threshold(epochs)` to compute channel thresholds during `save_epochs`
2. Alternatively, we could repair epochs [as per this](http://autoreject.github.io/auto_examples/plot_auto

[2017-09-08 18:01] larsoner commented on #182
I don't have any experience using `autoreject` and don't have the time to drive that initiative right now. I would like to use it eventually, though, since it seems better than our current rejection stuff.

[2017-09-08 18:18] kambysese commented on #182
Ok. Will close for now.

[2017-09-08 18:18] #182 closed

[2017-09-08 18:26] #166 closed

[2017-09-08 18:27] #177 closed

[2017-09-14 23:13] kambysese opened #183 "ICA artifact rejection"
@larsoner Does this look like anything you are doing for implementing ICA in MNEFUN?

[code]
I am also plotting and saving ICA properties, scores, components, latent source erfs, erfs before/after projection but left out the statements in gist. WDYT about sticking into mnefun?

[2017-09-15 01:48] larsoner commented on #183
I have shamefully little experience with ICA. Do you want to try opening a PR to add it? Perhaps we could have a second example directory (pulling and processing the same `funloc` dataset) that uses ICA. That way I could test it.

@drammock you used ICA a bit for EEG data, would you be interested in this?

[2017-09-15 17:23] drammock commented on #183
I basically never use mnefun (not really sure why I'm an admin, to be honest).  I played a bit with using ICA for blink processing on EEG data, but ended up doing SSP instead.

That said, my limited understanding of mnefun is that it's for ILABS-specific aspects of the M/EEG analysis pipeline.  This seems potentially fairly user-specific, and doesn't appear to have any ILABS-specific bits like cop

[2017-09-15 17:30] larsoner commented on #183
`mnefun` does have some ILABS-specific stuff (e.g., data fetchers and MaxFilter runners) but it's really more general. In theory I/we should be using it to pipeline our EEG analyses, too (basically your YAML is the equivalent to the analysis script in `mnefun`.), but it didn't work all that well when I tried it. It's missing some steps for e.g. manual annotation, variable numbers of projectors per

[2017-09-15 17:32] kambysese commented on #183
So No and I owe you some change?! 😏 BTW how come you ended opting for SSP over ICA in your EEG data?

[2017-09-15 17:40] drammock commented on #183
because it worked better, or at least it was easier to get it working reliably with my data.

The other bit was an obtuse joke, combining "-1" with "my 2 cents", hopefully also implying that a -1 from me isn't worth much on this repo.

[2017-09-15 17:43] drammock commented on #183
@larsoner If I ever get to the point where I do two experiments in a row that have basically the same pipeline, maybe I'll think about adding relevant bits to mnefun.  So far each new experiment is a snowflake.

[2017-09-15 17:47] kambysese commented on #183
@larsoner I'll keep chipping away at this for myself, if and when it gets to a point where I can apply to...

I'll open a PR. Feel free to close the issue.

[2017-09-15 17:48] #183 closed

[2017-09-15 18:02] drammock commented on #183
I'm guessing not.  [This README](https://github.com/drammock/eeg-phone-coding) describes my current pipeline, in which preprocessing involves (among other things)

- merging multiple Raw files when equipment failure broke the experiment mid-block, so I had to detect where the partial block began and delete the duplicated trials
- multiple iterations of annotation + blink detection until the blink

[2017-09-15 18:42] larsoner commented on #183
Points 1 and 3 can be done in a scoring function, so no problem there.

Point 2 is harder. It could be iterations of running a script and adjusting
the scoring function, but integrating a new annotation functionality would
be useful. It's probably something we need to add at some point anyway.

Is DSS done on raw or epochs?

In any case, it sounds to me like integration would be mutually beneficia

[2017-09-15 19:27] drammock commented on #183
operator is computed from epochs, can be applied to either Raw or Epochs.

I'll think about it.  I try to only introduce 1 new technology per project; when I start the next one I'll take a look.

[2017-10-02 18:08] ktavabi opened #186 "ENH: Add SSP topomaps to subj Report"
Add artifactual SSP projection topography maps to mne-python report file.

[2017-10-20 20:19] ktavabi opened #188 "fir_design compatibility issue"
@larsoner before updating to recent upstream today mne-python was complaining about:

With 0.15 update we getting

We are using `fir_design='firwin2'` in `_raw_LRFCP. I am not actually sure why we're hitting this error with recent upstream?

looks like `_get_fir_kwargs` is misbehaving.

[2017-10-21 12:21] larsoner commented on #188
I think this is a bug in MNE. Can you debug to figure out the parameters needed to use `create_filter` or `filter_data` to reproduce the same error? You probably need to know `fir_design, filter_length, phase, l_freq, h_freq, l_trans_bandwidth, h_trans_bandwidth`.

[2017-10-23 18:00] ktavabi commented on #188
I can try to debug...
FYI I am getting two different `ValueErrors`
This (similar to original error) is what I am hitting with my own data:

This is what I am hitting with funloc data:

[2017-10-24 04:57] ktavabi commented on #188
@larsoner Does [this](https://github.com/mne-tools/mne-python/issues/4693) make sense to you? Is it a bug?

[2017-10-24 20:56] #188 closed

[2017-10-24 21:04] ktavabi opened #191 "read_forward_solution getting deprecated arg"
@larsoner `read_forward_solution()` getting deprecated arg `surf_ori`. Will try fixing with `convert_forward_solution()`

[2017-10-25 18:02] ktavabi opened #193 "subprocess io stream broken in hp estimation routine"
Missed a couple of broken `run_subprocess` instances in last fix.

cc @mdclarke

[2017-10-25 18:30] larsoner opened #195 "extract_expyfun_events fails if STI001-8 is not there"
We can use STI101 instead in this case. cc @mdclarke

[2017-10-25 19:55] #193 closed

[2017-10-25 20:05] #191 closed

[2017-11-28 15:08] #195 closed

[2017-11-30 21:31] ktavabi opened #201 "Coil dist plot has no show arg"
@larsoner just noticed that `plot_good_coils` has no `show` arg. Perhaps adding it in #199?

[2017-12-01 15:06] larsoner commented on #201
Will do

[2017-12-05 19:55] ktavabi opened #202 "BUG raw files with orig extension should be filtered"
`get_raw_fnames(p, subj, 'raw', erm=False, add_splits=True, indices=run_indices[si])` is returning raw files with .orig extension for reporting in #199. @larsoner I can't think of a reason these files should not be filtered out?  In my case files for .orig are being sent to KASGA for headpos estimation and causing remote errors.

Perhaps modifying `_regex_convert(f)` to return `.*%s-?[0-9]*.fif(?!

[2017-12-05 20:15] larsoner commented on #202
We can just add the end-of-line char `$`

[2017-12-05 20:17] larsoner commented on #202
Done in #199

[2017-12-06 16:40] #186 closed

[2017-12-06 16:40] #201 closed

[2017-12-06 16:40] #202 closed

[2017-12-11 19:19] larsoner commented on #137
Closing for PR

[2017-12-11 19:19] #137 closed

[2018-01-03 21:29] ktavabi opened #206 "Fix autoreject picks"
Restrict autoreject trial rejection criteria to MEEG channels only.

[2018-01-04 23:19] larsoner commented on #206
We should probably make the default whatever the default is for `autoreject` (I assume this is M/EEG+EOG) but make it configurable if it's not too much work.

[2018-01-05 01:13] ktavabi commented on #206
Yes that is the default but we don't do rejection on EOG - and I'm hitting cases where I'm losing excessive trials with computed EOG threshold. So I was thinking defaulting to just MEEG.

PS I  thought you were on vacation, I scheduled my down time around yours. Should I get back to the office?

[2018-01-08 14:34] larsoner commented on #206
@mdclarke have you been using the `autoreject` option at all? If so is it okay if we change it to do just M/EEG by default? (If you wanted to keep using M/EEG + EOG you could do so via an argument.)

[2018-01-08 15:20] mdclarke commented on #206
@larsoner I don't typically use autoreject, but I'm totally fine with the default being M/EEG and dropping EOG. Thanks for asking!

[2018-01-08 15:27] larsoner commented on #206
@ktavabi do you have time to implement this?

[2018-01-08 15:47] ktavabi commented on #206
Yes I can take care of this.

[2018-01-11 08:21] ktavabi opened #208 "Combine event ids error"
@larsoner not really sure what is going on here, but I started hitting this on `master` for both mnefun and mne-python ONLY on my MBP setup 😕

- [ ] Need minimal gist to reproduce with mne example data

[2018-01-11 14:34] #208 closed

[2018-01-11 19:03] #206 closed

[2018-02-26 18:38] ktavabi opened #210 "Declare subject"
@larsoner I am not exactly sure why this has worked up to now?! but this `stc.plot` call is using `stc.subject` as argument to `.plot` presumably inherited from `p.subjects`. I'm hitting an i/o error here b/c my `p.structurals` is a list of modified string-types e.g., `p.subjects = [sub-nbwr088]` `p.structurals = [sub-nbwr088_some-string]`. So I am wondering if we should explicitly set `subject` t

[2018-02-27 15:51] larsoner commented on #210
The `stc` is created on the fly using `apply_inverse`. The `inv` has `inv['src'][0]['subject_his_id']` which stores the structural used to create the inverse. This in turn gets stored in `stc.subject`. So it should always work. Can you check that your `p.structurals[si]` is the same as `inv['src'][0]['subject_his_id']`? I assume it's not, indicating that you need to regenerate forward and inverse.

[2018-02-28 20:21] ktavabi commented on #210
`inv['src'][0]['subject_his_id']` is `sub-nbwr088` where as `p.structurals[si]` is  `sub-nbwr088_some-string`; which is what `struc` is set to. That doesn't necessarily clear things wrt to how this is working, but considering we use `struc = p.structurals[si]` throughout mnefun it maybe safer to use `struc` for all forward & inverse operations.

[2018-02-28 20:27] larsoner commented on #210
The only place the user should need to set the Freesurfer subject name is in `p.structurals`. Somewhere along the line either 1) there is some MNE bug where this isn't saved / loaded properly in FIF, or 2) you changed `p.structurals` without also updating your forward + inv. If you load `fwd['src'][0]['subject_his_id']` you will probably also find that it is `' sub-nbwr088'`. If you want to use `s

[2018-02-28 23:49] ktavabi opened #211 "Unbounded local variable"
https://github.com/LABSN/mnefun/blob/b199c62a882a226f57a652c03ed4cd9e936a8845/mnefun/_report.py#L369
`inv_dir` accessed before assignment when data covariance file doesn't exist or user doesn't ask for whitened evoked butterfly i.e., `params.report_params.update(sensor=dict(analysis='All', name='All', times=[0.1, 0.2]))`

[2018-03-02 01:34] larsoner commented on #211
Thanks, fix in #209

[2018-03-02 01:34] #211 closed

[2018-03-02 19:02] ktavabi commented on #210
Your call. But chances are at this place it will come up as people move towards BIDS.

[2018-03-02 19:22] ktavabi opened #212 "Better check for proj files"
https://github.com/LABSN/mnefun/blob/b199c62a882a226f57a652c03ed4cd9e936a8845/mnefun/_report.py#L153

Fails with `IOError` due to missing `proj` b/c EOG channels failed and projections were not computed.

[2018-03-02 21:47] ktavabi commented on #212
I'll do the PR

[2018-03-04 22:40] #212 closed

[2018-03-13 20:49] #210 closed

[2018-03-14 00:06] ktavabi opened #216 "Needs Runtime exit with better error msg"
https://github.com/LABSN/mnefun/blob/3d28dad5a0d334a4ead848a15ff88904e5c4de85/mnefun/_report.py#L201
If SSP topomaps are requested or `proj` files do not exist this breaks with an unhelpful error message.
Need to improve error message and handling case where `proj` files are missing.
@larsoner I'll do PR. Can you grant me permission for PR assignment?

[2018-03-14 16:21] larsoner commented on #216
I added you as a collaborator, can you see if that works?

[2018-03-28 20:12] ktavabi opened #217 "MAYAVI scenes cropped in report"
@larsoner zooming issue with MAYAVI figures in reports persists in newest mne `environment.yml` with  `hemi='split'` & `views='lat'` kwargs

![image](https://user-images.githubusercontent.com/4381290/38053746-bfa8d7d8-3289-11e8-8de1-54acb43e22ee.png)

[2018-03-29 15:31] larsoner commented on #217
Is this on OSX or Linux?

[2018-04-18 23:01] mdclarke opened #219 "missing transparent argument in _report.py"
@larsoner I get this error when running gen_report:

  File "/home/meg/github/mnefun/mnefun/_report.py", line 414, in gen_html_report
    clim, stc_crop.data, 'viridis')[0]  # dummy cmap
TypeError: _limits_to_control_points() missing 1 required positional argument: 'transparent'

If I add a 'transparent' argument (such as below) to line 414 in _report.py  the error goes away:
https://github.com/LA

[2018-04-19 15:52] #219 closed

[2018-04-19 15:52] larsoner commented on #219
Should be fixed now!

[2018-06-01 18:01] ktavabi opened #224 "On missing epochs key"
@larsoner I am hitting a corner case where infrequent event key is missing during epoching and causing a `KeyError`. What is your thought on providing a `params.switch` to change the `on_missing` behavior of `Epochs`?

[2018-06-01 19:45] larsoner commented on #224
You mean like [params.on_missing](https://github.com/LABSN/mnefun/blob/master/mnefun/_mnefun.py#L407)?

[2018-06-12 18:50] #224 closed

[2018-10-24 17:36] ktavabi opened #234 "MNE report TypeError"
@larsoner I don't have time to get to bottom of this today, unless you have a quick fix I can look into it AM

[2018-10-24 17:49] #234 closed

[2019-01-22 21:03] larsoner opened #238 "ENH: Improve ExG projection"
Functionality to `mnefun` (@larsoner):

- [x] allow `ecg_channel` to be set on a per-subject basis
- [x] save `-reject.h5` params when using autoreject, and use these when computing the covariance
- [x] adjustable ExG window size (tmin/tmax)
- [x] make sure that ExG calculations respect the `BAD_` annotations
- [x] implement variable number of projectors per subject
- [ ] check that projectors bef

[2019-01-30 22:19] larsoner commented on #238
Moving to PR

[2019-01-30 22:19] #238 closed

[2019-02-06 03:07] #217 closed

[2019-02-06 03:08] #216 closed

[2019-03-27 16:47] larsoner opened #242 "ENH: Add mark_flat"
Should help e.g. take care of making sure `0743` is in our prebads list, and also marking flat segments in case of large fluctuations.

https://github.com/mne-tools/mne-python/pull/6088

[2019-05-21 23:58] ktavabi opened #246 "BUG auto bad channel selection failure"
Auto bad channel selection fails when epochs drop log contains non-channel based criteria for rejection.

[2019-05-22 20:36] #246 closed

[2019-05-23 22:53] ktavabi opened #248 "ENH: Use cross validated rejection criteria for bad channel selection"
@larsoner WDYT of PR adding the ability to use [Autoreject](https://github.com/autoreject/autoreject) module to compute data-driven peak-to-peak rejection criteria to use during bad channel selection routine.

[2019-05-30 01:32] ktavabi opened #250 "ENH: MF autobad"
Add option to run Maxfilter for noisy channel detection prior to mne-python SSS routines.

[2019-06-05 22:00] ktavabi commented on #242
Okay to close this?

[2019-06-05 22:01] ktavabi commented on #242
I am going to close this assuming you've dealt with it.

[2019-06-05 22:01] #242 closed

[2019-06-11 23:45] #250 closed

[2019-06-12 23:42] ktavabi opened #253 "MF autobad on ERM recordings"
@larsoner Is it necessary to run MF autobad on the ERM recordings or suffice to mark the same channels as bad in the actual recording? As is I suspect the resulting text file contains bad channels found in the ERM rather than datafile. https://github.com/LABSN/mnefun/blob/cc957a5b04a0340f2780eeeff99c4bf69c70c07a/mnefun/_mnefun.py#L1293

[2019-06-12 23:46] ktavabi opened #254 "Standard error handling"
@larsoner I am hitting rare occasions where `subprocess` calls hang indefinitely presumably because the STDERR piping isn't working as expected i.e., printing error to screen. Any ideas how to improve this? https://github.com/LABSN/mnefun/blob/cc957a5b04a0340f2780eeeff99c4bf69c70c07a/mnefun/_mnefun.py#L2841

[2019-06-13 00:40] larsoner commented on #254
Are you on latest MNE-Python? I pushed a fix for this sort of thing this week or last

[2019-06-13 00:47] larsoner commented on #253
The idea is that each run (experimental or empty room) should get the bad channels from:

1. <subject>_prebad.txt
2. <run>_maxbad.txt

There should end up being one _prebad.txt, and N_experiment+N_erm _maxbad.txt files. Is this not the case?

[2019-06-13 17:55] ktavabi commented on #253
Right now we only get one _prebad.txt and n_erm_maxbad.txt files. Probably best to affix basename of `fif` file to the MF file, yes?

[2019-06-13 17:59] ktavabi commented on #254
:+1: No I don't have c2b917 merged. Thanks.

[2019-06-13 17:59] #254 closed

[2019-06-13 18:02] larsoner commented on #253
That should already be what this line is doing

https://github.com/LABSN/mnefun/blob/cc957a5b04a0340f2780eeeff99c4bf69c70c07a/mnefun/_mnefun.py#L1295

[2019-06-13 18:25] ktavabi commented on #253
I stand corrected. Sorry.

[2019-06-13 18:25] #253 closed

[2019-07-10 14:04] larsoner opened #255 "ENH: Check coreg"
I recently ran this for @mmittag's data:
[code]
During the forward step we should use `check_coreg` to ensure that the fit is < 5 mm (user-settable limit) and warn if it is not.

[2019-07-18 18:05] #255 closed

[2019-07-18 19:27] #248 closed

[2019-10-07 17:40] nordme opened #261 "calc_twa_hp assertion error"
@larsoner @drammock

Hi Eric,

Another issue arising from the Prek runs. This is with the new version of mnefun from last week and stable mne-python 19.

Traceback (most recent call last):
  File "prek_mnefun.py", line 157, in <module>
    print_status=True    # show status
  File "/home/nordme/.conda/envs/prek_env/lib/python3.7/site-packages/mnefun-0.1-py3.7.egg/mnefun/_mnefun.py", line 717, in d

[2019-10-07 17:45] larsoner commented on #261
Can you upload the script and subject data to kasga? Then I'll take a look.

Or if you're analyzing over SSH we can figure out over Slack how I can remote in to look directly

[2019-10-07 17:53] nordme commented on #261
I'll upload to kasga. Thanks!

Erica Peterson
Research Scientist
Institute for Learning and Brain Sciences
University of Washington
Box 357988
Seattle, WA 98195
(206) 685-2842

On Mon, Oct 7, 2019 at 10:46 AM Eric Larson <notifications@github.com>
wrote:

[2019-10-15 00:20] drammock opened #263 "want_rank != out_rank"
in the `generate_covariances` step, @nordme and I are hitting an `AssertionError` where `want_rank != out_rank`.  The one we just looked at was off by one, but I haven't yet looked at all the failing subjects (there are several) to confirm that it's always just a difference of one (which might suggest something as simple as a tolerance issue?).

I dug into it a little:

- `want_rank` -> `_mnefun.c

[2019-10-15 00:56] larsoner commented on #263
Can you upload a problematic subject with analysis script to kasga? I'll probably require some threshold tweaking, maybe a new parameter. Are there few epochs or something?

[2019-10-15 01:24] nordme commented on #263
Hi Eric,

I'll upload data to your kasga incoming folder under /prek_out_rank_data

I'm not sure how many epochs qualifies as few, but there are 100 total: 30
epoch each for three main conditions and 10 epochs for a condition we're
not really analyzing (put in for subject entertainment, basically).

Thanks!

Erica Peterson
Research Scientist
Institute for Learning and Brain Sciences
University of

[2019-10-16 22:28] #261 closed

[2019-10-21 16:58] #263 closed

[2019-11-14 01:00] drammock opened #267 "BIDS?"
Since there's a plan for some moderate refactoring, would it make sense to consider changing the directory structure to be BIDS-compatible at the same time?  Or should a change like that come before or after the refactor?

[2019-11-14 01:10] larsoner commented on #267
Probably after the YAML + namespace fixes. Hopefully with the namespace fixes it will be clear how all filenames are chosen (we already have `_paths.py` but it doesn't have all path stuff it), so it will make sense to extend it from just "old" to "BIDS" style formats after that.

[2019-12-02 15:00] larsoner opened #273 "ENH: Add condition SNR estimation"
One way to get a handle on single-subject SNR is to compute the sliding estimator as a function of time between two conditions, as in:

https://mne.tools/dev/auto_tutorials/machine-learning/plot_sensors_decoding.html#temporal-decoding

I propose adding a new `report` argument `time_decoding` that is a dict. For `funloc` this could be for example:
[code]
This would add a single plot to the report w

[2019-12-02 18:00] drammock commented on #273
Am I correct that what you've called `analysis` will only be used to label the plot?  If so, I'd call that key `title` instead. I think the other key would more naturally be called `conditions`, although if anyone can think of an alternate name that makes it even more clear that the values passed should be drawn from the event dict (something like `event_dict_conditions_to_compare`?) that might be

[2019-12-02 18:07] drammock commented on #273
I think it would be pretty useful, but here are a couple questions:

1. could you pass multiple contrast pairs in the YAML and get multiple plots?
2. Is the run time of the example you linked to (~25 seconds) a realistic estimate of how much time this will add for typical data?
3. WDYT about `contrast_pair` as the name of the second key?

[2019-12-02 19:37] larsoner commented on #273
It's also used to know which `-ave.fif` file to load

Yes after the basic one (`dict`) is done, iterating over a list should be an easy next step.

That example does temporal generalization to generate the bottom image plot, which is slower. Timing just the time-resolved decoding from that example on my machine I get 1.5 sec, the time-generalization computation (which we wouldn't do here) takes 8

[2019-12-02 19:59] ktavabi commented on #273
I already make good use of the sliding estimator in an MNEFUN friendly way e.g. using `n-choosek` to contrast conditional ERF data for inferential purposes. I don't find myself using the report as much as I'd like/should, so I am not sure how useful it could be on individual basis, especially in the case of child/infant data.

[2019-12-02 20:15] drammock commented on #273
OK, maybe leave as-is then.

[2020-02-27 15:18] larsoner opened #279 "DOC: Document suggested installation"
Something like:

1. Follow MNE-Python instructions if necessary to get running env
2. Clone and install MNE-Python in editable mode (for easy updates)
3. Close and install mnefun in editable mode (for easy updates)

[2020-03-10 19:44] bonniekwlau opened #281 "add times='peaks' for source params in HTML reports"
Can we add the option to enter times='peaks' for source params when generating HTML reports?

[2020-03-11 16:21] larsoner commented on #281
@NeuroLaunch this might be a good first PR for `mnefun`. Basically

- a first iteration can look at `times` [here](https://github.com/LABSN/mnefun/blob/master/mnefun/_report.py#L672), and `if isinstance(times, str) and times == 'peaks':` create `times = ...` as an `ndarray`
- you can use something like [scipy.signal.find_peaks](https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.find

[2020-03-11 18:59] NeuroLaunch commented on #281
Once I get through this recent run-through of the MMF subjects I will have
time.  Thanks for asking.

On Wed, Mar 11, 2020 at 9:22 AM Eric Larson <notifications@github.com>
wrote:

[2020-03-17 20:55] bonniekwlau opened #282 "source alignment and source plots - HTML reports"
Difficulty viewing source alignment and source plots for HTML plots.

[2020-03-18 17:03] NeuroLaunch commented on #281
@larsoner, I think I have a fairly robust solution.  I am interpreting your suggestion above that it should work on the sensor-level GFP rather than across a source-level spatial average?  Also, presently I am providing times='peaks' functionality to the "source" section of a report, but I could also extend that to the "sensor" section (which also takes a times parameter).

[2020-03-18 18:28] larsoner commented on #281
It would be good to provide support in both places

[2020-03-19 16:40] larsoner commented on #282
Bonnie can you upload one subject that shows this problem along with an analysis script to kasga? I can't replicate with funloc at least

[2020-03-19 22:33] bonniekwlau commented on #282
I'm uploading one subject and analysis script to data06/bonnie/forEric
right now. Should be done soon.

On Thu, Mar 19, 2020 at 9:40 AM Eric Larson <notifications@github.com>
wrote:

[2020-03-23 17:05] bonniekwlau opened #284 "add mean head position across multiple subjects"
To facilitate group level sensor analysis.

[2020-04-08 17:15] NeuroLaunch commented on #281
This issue should be resolved now, @bonniekwlau.  Sensor and source report sections should use the same time slices for display (up to five) if both are set up with `times = 'peaks'`.

(I tried adding "closes LABSN#281" to one of the PR commits, hoping this Issue would close automatically with the merge; maybe that needs done in the main PR title/label.)

[2020-04-08 17:20] #281 closed

[2020-04-09 21:05] NeuroLaunch commented on #273
This slipped past my email alerts from GitHub, so I'm just seeing your request now.  I'm definitely up for it!

[2020-04-09 21:07] larsoner commented on #273
Okay feel free to give it a shot, if the API or implementation is not clear in your mind (after some thinking on it) let me know and we can hash it out here or on Slack, probably with @drammock because he has a good eye for API design

[2020-04-09 21:50] NeuroLaunch opened #287 "FIX: epoch processing of split raw files"
I came across an error running `do_processing()` for epochs.  The traceback points to line 109 of __epoching.py_:

[code]
A similar error occurs for __cov.py_ on line 135.

I believe the origin of the error is from the creation of a temporary raw objected concatenated across runs (e.g. at line 106 of __epoching_).  A test is made in `concatenate_events` to make sure the number of constituent event

[2020-04-10 13:35] larsoner commented on #287
Yes this sounds like a bug, feel free to open a PR to fix it

[2020-04-15 21:21] larsoner opened #288 "ENH: Every-other averages added to `-evo.fif`"
Samu has been asking about this for a while, I realized we can just add it to the `-ave.fif` files that we generate.

One open question would be how to add these to the reports. For a first pass we don't automatically do it and just let people add them to their configs.

[2020-04-15 21:22] larsoner opened #289 "ENH: Add whitened evoked butterfly to reports"
You can pass `noise_cov` to `plot_evoked`:

https://mne.tools/dev/generated/mne.viz.plot_evoked.html

In addition to our standard sensor plots and `plot_white`, we should do `evoked.plot(noise_cov=noise_cov)` as it basically bridges the two.

[2020-04-19 01:15] NeuroLaunch opened #290 "FIX: params.prebad error in print_status"
When running do_processing() with print_status=True, the following error occurs:

`File "/Users/neuromac/GitClones/mnefun/mnefun/_status.py", line 45, in print_proc_status if subj in p.prebad or op.isfile(_prebad(p, subj)):  `
`AttributeError: 'Params' object has no attribute 'prebad'`

I think the relevant line should be `if subj in p.mf_prebad or op.isfile(_prebad(p, subj)):
            prebads

[2020-04-20 13:21] larsoner commented on #290
Argh yes I probably introduced some bug. Feel free to fix it if you're up for it

[2020-04-20 17:30] larsoner commented on #289
I implemented this quickly and looked at the result only to notice that it's redundant with the existing whitening plot:

![Screenshot from 2020-04-20 13-30-12](https://user-images.githubusercontent.com/2365790/79781221-25c88a80-830b-11ea-89c1-0ad057d8da5f.png)

[2020-04-20 17:30] #289 closed

[2020-04-24 02:02] NeuroLaunch commented on #287
I believe I solved the problem for __epoching_, but I can't complete my testing with __cov_ for what appears to be an unrelated reason.  Specifically, params.tmin, whose original value in this case was -1.0, gets rewritten to -0.9971051980889262.  This seems to happen somewhere in the mne-python function _epochs.py:__concatenate_epochs()_ around line 2897:
`baseline, tmin, tmax = out.baseline, out

[2020-04-28 14:34] #290 closed

[2020-04-28 14:41] #287 closed

[2020-05-07 16:20] #288 closed

[2020-07-07 18:10] larsoner opened #296 "ENH: Add number of epochs for SSP/ECG to report"

[2020-07-07 18:17] larsoner commented on #296
Also add:

1. the original number of detected events, and the number of usable epochs
2. make sure the EOG is plotted, if available

[2020-07-08 13:19] #296 closed

[2020-07-16 19:10] larsoner opened #299 "ENH: Add eSSS"
Extended bases based on empty-room are available in mne-python master. We should add an option to use it.

[2020-08-25 05:20] NeuroLaunch opened #302 "FIX: 'delayed' projectors option for epoching"
The option for saving 'delayed' epochs projectors appears to be fixed in _epochs.py (line 151), rather than set by the relevant processing parameter.  More specifically, in an earlier update, `temp_epochs` (line 126) was defined with the argument `proj = params.epochs_proj`, however this epochs object is only for setting up threshold parameters for the autoreject module and is not saved to file.

[2020-08-26 16:48] NeuroLaunch opened #303 "ENH: Provide more saving options for reports"
It would be useful if reports of all processed subjects could optionally be placed into a single directory, following a specified string format, rather than the generic _work_dir/subj/'%s_fil%d_report.html_.  This could make it easier to keep track of multiple reports made for different purposes or at different times.  I've already experimented with my own mnefun branch to do this; I update `param

[2020-08-26 18:13] larsoner commented on #303
To me this seems a little bit out of scope. Usually in `mnefun` each subject's data lands in their own folder. I think if you want some reorganization beyond that, a bash or Python script to `cp` or `ln` or whatever would be a better choice.

[2020-08-26 18:17] larsoner commented on #302
Argh yes it it should be on 151 but not in the `temp_epochs` 126 (this one should have them applied to help `autoreject` process properly), PR welcome to fix it

[2020-08-26 21:43] NeuroLaunch commented on #303
OK - I'll probably just write a Python script to rename and move the reports (after renaming all existing reports before mnefun overwrites them).

[2020-08-26 22:23] #302 closed

[2020-08-26 22:24] NeuroLaunch commented on #302
Closed with #301

[2020-09-01 16:10] NeuroLaunch commented on #303
I found a good solution by leveraging the new "post-function" feature of mnefun's report generation.  The function backs up existing reports in subjects folders and writes a copy of the new report, with user-customized naming convention, into a designated user-named report folder.  So I'll close this Issue.

[2020-09-01 16:10] #303 closed

[2020-09-28 19:20] ktavabi opened #309 "Matrix ops"
@larsoner maybe consider commenting what kind of operation ['vo...,von,vn...->v...'](https://github.com/LABSN/mnefun/blob/97dceaba843b250625d855442e8e719bf0d0fca7/mnefun/_stats.py#L118) is.

[2020-09-29 00:09] #309 closed

[2020-10-22 19:31] larsoner opened #311 "ENH: Add method to overwrite / redo some analysis steps"
At least estimation of:

- `_maxbad.txt`
- `.pos`
- `-annot.h5`
- `-counts.h5`

These steps are slow so currently they are recomputed only when they are missing. We could add an overwrite parameter to control which of these to recompute. Or maybe make it so the inputs to the computation function are cached properly (`joblib`?) so that recomputation is automatic when the relevant parameters change.

[2020-11-19 20:46] ktavabi opened #314 "ImportError: 'spatial_src_connectivity'"
This an `import` conflict? @larsoner

[2020-11-19 20:53] larsoner commented on #314
Should have been fixed in https://github.com/LABSN/mnefun/pull/308, are you up to date?

[2020-11-19 20:56] ktavabi commented on #314
I'm in `git` limbo.

[2020-11-19 22:02] #314 closed

[2021-01-19 15:04] larsoner opened #319 "ENH: More event processing"
Here's a list of additional changes I hope you can make in this PR that will help my MNEFun code read in certain event files (that contain multiple event types sharing a timestamp).  The changes are pretty simple (a few lines in 3 files) and shouldn't impact greatly existing pipelines.  I think, in fact, that the change may be positive in that only epochs related to the targeted processing will be

[2021-01-19 15:07] larsoner commented on #319
At least for this we have `pick_events_cov`:

https://labsn.github.io/mnefun/overview.html#covariance-covariance-parameters

Have you seen/tried to use this?

We could do something similar for `pick_events_autoreject` or something. In general having a `callable` is a tiny bit nicer because it allows for more flexibility than just `ids` / array-of-int functionality.

[2021-01-19 18:00] NeuroLaunch commented on #319
I haven't seen the pick_events_cov() function, but I'll check it out.  I can create a PR for this.

[2021-01-19 22:54] #299 closed

[2021-01-19 22:55] NeuroLaunch commented on #299
Resolved with PR #317

[2021-02-04 04:12] ktavabi opened #320 "Parser error"
@larsoner
[code]

[old fashioned projector lists in my yaml file](https://github.com/LABSN/mnefun/blob/a5743a8b3a4486beff9b7b3b901ab0828e4269a0/examples/funloc/funloc_params.yml#L59
) returned ...

[2021-02-04 04:46] ktavabi commented on #320
Update: YAML linted. Still having issues passing legacy `proj_nums`

[2021-02-04 04:46] #320 closed

[2021-02-04 12:15] larsoner commented on #320
It's closed now, I assume it's working now? I would have thought something like this would have worked:
[code]

[2021-02-04 13:24] drammock commented on #320
As Eric implies, the problem in the original post is the curly brackets,  they shouldn't be there.

[2021-02-04 16:36] ktavabi commented on #320
Tried both. Different trace back without curlies.

_____________________________________________________
Kambiz Tavabi PhD
Research Scientist
T: +1 206 685 6173 <+12066856173>
M: +1 215 688 1763 <+12156881763>
ktavabi@uw.edu
Institute for Learning & Brain Sciences
1715 Columbia Road N  <x-apple-data-detectors://1>
Portage Bay Building  <x-apple-data-detectors://1>
Box 357988 <x-apple-data-detector

[2021-02-04 17:22] drammock commented on #320
weird.  I just ran yesterday with something like this in the YAML:
[code]

[2021-02-04 17:42] ktavabi commented on #320
I'll try again after Eric merges code bases.

[2021-02-09 23:13] ktavabi opened #321 "Legacy run"
`params.subjects = subjects[0]` string type breaks with...

`params.subjects = [subjects[0]]` list type breaks with...

[2021-02-10 12:42] larsoner commented on #321
I think the supported use case is meant to be:
[code]
In other words, you don't modify `subjects` or `structurals`, they should always be [list of str](https://labsn.github.io/mnefun/overview.html#fetch-raw-raw-fetching-parameters) of the same length. PR welcome to update the docs if this is not clear.

AFAIK `subjects` as `str` and `len(structurals) != len(subjects)` wasn't meant to be a supporte

[2021-02-10 19:08] ktavabi commented on #321
If `sturcturals = null` in the YAML what's the point of this check? I'm not doing any PRs. I'll find a workaround.

[2021-02-10 19:08] #321 closed

[2021-02-10 19:17] larsoner commented on #321
You should be able to do an equivalent of `params.structurals = None`. This should end up getting caught by this line in the code:
[code]
I'm not sure why your value doesn't work properly since this seems to work:
[code]
Happy to work on a solution if you're still up for debugging, but if you just want to move on feel free

[2021-02-12 02:54] ktavabi opened #322 "test"
<sup>Created from VS Code using [CodeStream](https://codestream.com/?utm_source=cs&utm_medium=issue&utm_campaign=github)</sup>

[2021-02-12 02:55] #322 closed

[2021-02-18 03:21] NeuroLaunch opened #324 "ENH: Cuda support"
I currently use these lines at the start of my mnefun pipeline scripts:
[code]

... where 'cuda' is used for my Linux desktop but not my Mac laptop.  It would be nice if such settings could be initialized as defaults when `params` is created, either based on the _mne-python.json_ config file, like above, or comparable lines in the _mnefun.json_ config file.  Entries in _params.yml_ could still ove

[2021-02-18 03:29] NeuroLaunch commented on #311
I like the idea of setting up a toggle parameter to greenlight potential overwrites, as it can be very annoying to launch a run only to realize a single change (for me, usually related to HPI processing) will cause an error.

I actually do just that in my own code:
[code]
where _delete_sssfiles()_ is a simple program I stashed away in my scoring script.

[2021-02-18 15:45] larsoner commented on #324
At this point I actually don't find much difference between CUDA and non-CUDA since filtering in SciPy is much faster nowadays. Have you checked? Maybe it's not worth pushing for supporting it if there aren't large gains anymore...

[2021-02-18 15:52] larsoner commented on #311
I think the annotation is completely dependent on the cHPI fitting, so maybe we can get away with just adding a `do_chpi` parameter that deletes all of the files listed above except `_maxbad.txt` (but hopefully we don't change that very often) and then reestimates? And for maxbad I guess we could have `do_maxbad=True | False` as well.

In both cases, `do_whatever=False` means "don't do it if it's

[2021-02-18 17:04] NeuroLaunch commented on #324
I hadn't considered that.  Does the improved SciPy speed require the fast-Numpy package (I'm forgetting its actual name), or is this all standard now?

[2021-02-18 17:16] NeuroLaunch commented on #311
It may be worth implementing your above idea of recomputing (if the toggle is `True`) only when one or more of the relevant parameters has changed OR if a computed file isn't present.  I'm not familiar with _joblib_, but I imagine a simple file generated during the SSS/cHPI step that holds meta data (or hash codes) with details about how the files are created, something that the params dictionary

[2021-02-18 17:21] NeuroLaunch commented on #311
It would be more work, but perhaps such a meta file could be comprehensive across all of the important MNEFun parameters, as well as archivable and human-readable, effectively providing a diary of MNEFun processing for that experiment directory.  (I picture a command line tool that could give a nicely formatted readout of the last run or a prior run.)  Just a pipeline dream?

[2021-02-18 19:07] larsoner commented on #311
Yes in principle this would work with something like `joblib.cache` set up properly but it's difficult and a lot of work to get right. For now I would just always do it if it's true, it's an intermediate solution but it's easy to implement and solves a real problem people have now, even if it doesn't do it optimally (e.g., by automatically tracking what needs to be done).

[2021-02-18 19:07] larsoner commented on #324
Just plain SciPy version 1.4+ I think

[2021-02-23 18:57] #319 closed

[2021-02-25 06:35] ktavabi opened #326 "Wrong parameter order in call"

[2021-02-25 12:36] #326 closed

[2021-02-25 19:18] NeuroLaunch commented on #324
Closing.  I'll continue to set the various `n_jobs` programmatically, possibly taking the value from the machine-specific mnefun .json file.

[2021-02-25 19:18] #324 closed

[2021-03-02 22:35] ktavabi opened #329 "fixed length trial events"
@larsoner: shouldn't this have something like `dur = 1` in case  `tmax` or `tmin` are NoneType?

[mnefun] mnefun/_ssp.py (Line 571)

[code]

[Open in IDE](https://api.codestream.com/c/YBtNEotjDWL9G1o4/3GFNCSMERbqjXfR_qxRzkQ?marker=603ebdbdc886590176405d59&ide=default&src=GitHub) · [Open on GitHub](https://github.com/labsn/mnefun/blob/e20d9c7a9c144821d7c57902baf2976779221c32/mnefun/_ssp.py#L571)

<

[2021-03-05 09:02] ktavabi opened #331 "Introspection"
@larsoner: with these params effectively spanning two different files, how are they ever going to be accessed by introspection?

[mnefun] mnefun/data/canonical.yml (Line 164)

[code]

[Open in IDE](https://api.codestream.com/c/YBtNEotjDWL9G1o4/pO6RDA54RQGrMQrcsOt9fA?marker=6041f39e437f140175d759ef&ide=default&src=GitHub) · [Open on GitHub](https://github.com/labsn/mnefun/blob/fbd29652f7005ec876532

[2021-03-05 12:33] larsoner commented on #331
The YAML gets read and populates `params`, so in theory the `params` object should be introspect-able as it was before. Then if you wonder how a particular value got in `params`, it either got there from the YAML, the Python script, or from the defaults of the class. But if you can eliminate Python almost entirely like [we did for funloc](https://github.com/LABSN/mnefun/blob/master/examples/funloc

[2021-03-06 00:11] ktavabi opened #332 "TypeError: 'numpy.float64' object is not iterable"
@larsoner I'm curious to see if either you or Mark hit this error when setting times='peaks' during reporting.

[2021-03-08 20:19] larsoner commented on #332
Can you paste the full traceback of the error?

[2021-03-09 19:55] ktavabi commented on #332
See above.

[2021-03-09 20:06] drammock commented on #332
I don't see a traceback in the issue description.  All I see is the final `TypeError` in the issue title.

[2021-03-10 16:51] larsoner commented on #329
Discussed in #330 so I'll close

[2021-03-10 16:51] #329 closed

[2021-03-11 06:36] #331 closed

[2021-03-11 12:30] #332 closed

[2021-03-30 16:22] mdclarke opened #334 "compute_covariance doesn't use bmin/bmax"
The `baseline` parameter for Epoching states that "`params.bmin` and `params.bmax` will always be used for covariance calculation. This is useful e.g. when using a high-pass filter and no baselining is desired (but evoked covariances should still be calculated from the baseline period)", which it is currently not doing.

Will fix by changing _cov.py to use `bmin` and `bmax`

[2021-03-30 18:09] #334 closed

[2021-04-12 23:03] ktavabi opened #337 "raw object unbound causing F821 to brake CI"
@larsoner 

[mnefun] mnefun/_epoching.py (Lines 181-182)

[code]

[Open in IDE](https://api.codestream.com/c/YBtNEotjDWL9G1o4/2GZ0UgoAT4m-SjX5op7mug?marker=6074d1bf3e632a42c76feef0&ide=default&src=GitHub) · [Open on GitHub](https://github.com/labsn/mnefun/blob/5ccaf3d87abb1709cc12287185660fbd5e282072/mnefun/_epoching.py#L181-L182)

<sup>Created from VS Code using [CodeStream](https://codestream.co

[2021-05-07 07:11] #337 closed

[2021-05-07 07:22] ktavabi opened #341 "Depracation error"
No `_get_hpi_info` in upstream

[mnefun] mnefun/_sss.py (Line 19)

[code]

[Open in IDE](https://api.codestream.com/c/YBtNEotjDWL9G1o4/Kb1FwBfMS-i6W0LulFKl_A?marker=6094eabfbef9a7058a289e0b&ide=default&src=GitHub) · [Open on GitHub](https://github.com/labsn/mnefun/blob/d0763288dbaa3aea8e6aa8cd341e24ee29e9a231/mnefun/_sss.py#L19)

<sup>Created from VS Code using [CodeStream](https://codestream.com/

[2021-05-07 11:32] larsoner commented on #341
I should be able to fix early next week. In the meantime you could try adding a `try/except` to import, I don't think the API itself changed much

[2021-05-07 17:38] ktavabi commented on #341
I thought `try/except` is the fix. How do you fix this?

[2021-05-07 21:11] larsoner commented on #341
Yeah all I was going to do was `try/except` and any necessary argument name wrapping

[2021-05-10 14:12] #341 closed

[2021-07-21 18:47] larsoner opened #347 "BUG: Support EEG-only data"
For MMF for example we need:

1. Bad channel detection for EEG
2. Fix forward modeling for EEG (@nordme)
3. Add in support for calculating covariance based on the raw data, not epoched or empty room covs (@larsoner)
4. Fix report generation (@larsoner)
5. Fix the status updates (@larsoner)

And later once TPS is finalized we can add support for processing EEG data using it (for EEG-only and M/EEG

[2021-07-29 21:49] drammock opened #349 "epoching during cov computation fails because proj=False"
I have a subject in the F2Fconn cohort (number 116) where epoching succeeds, but covariance computation fails, because during cov computation the Epochs constructor is called with a hardcoded `proj=False` ([here](https://github.com/LABSN/mnefun/blob/381823a9d26fdd189c4873f7ca1bed9c94f143d9/mnefun/_cov.py#L151)) and 100% of the epochs are getting rejected (267 of them survive if `proj=True`).  I ha

[2021-07-29 23:12] #349 closed

[2021-07-29 23:13] larsoner commented on #349
Just no logic / bad logic at work I think...

[2021-07-30 00:28] NeuroLaunch commented on #349
I don't think I ran into that problem with subject 116, but this does seem like it might have affected all of my epoching (ECG rejection as well as affecting autoreject criteria).  In your respective opinions, is that worth my running through the last steps of the F2F (single-source, not correlation) spectral analysis?

[2021-07-30 02:16] larsoner commented on #349
One question is whether it affects just baseline covariance (which I don't think f2f uses) or empty room (which I think it does?). Looking at the code and PR you can figure it out

[2021-07-30 14:13] drammock commented on #349
it affects only baseline cov; empty room cov is computed with `compute_raw_covariance` (it is not epoched first)

[2022-02-04 23:14] mdclarke opened #355 "ENH: Add OTP processing option"
Add option to process data with OTP - @larsoner I can work on this and add a pull request soon